/*
    Import all styles
*/

@font-face {
	font-family: "Open Sans";
	src: url("/fonts/OpenSans-Regular.ttf");
}

@import "base/fastui.css";
@import "base/vars.scss";
@import "base/mixins.scss";
@import "base/scaffolding.scss";
@import "base/container.scss";

@import "./Social.scss";
@import "Navigation/Navlinks.scss";
@import "Navigation/Navbar.scss";
@import "Navigation/Menu.scss";
@import "Spinner.scss";
@import "Contacts.scss";
@import "Home/CoverHome.scss";
@import "Circuit/CircuitCard.scss";
@import "Circuit/CircuitList.scss";
@import "Circuit/CircuitDetails.scss";
@import "Circuit/TravelPlan.scss";
@import "Circuit/MapRoute.scss";
@import "Page/NotFound.scss";
@import "Page/Footer.scss";
@import "Page/PageWaiting.scss";
