.menu {
	display: none;
	position: fixed;
	top: 76px;
	right: 0;
	z-index: 12;
	height: calc(100vh - 76px);
	background: rgba(255, 255, 255, 0.6);
	pointer-events: auto;

	@include screen-x(900px) {
		display: flex;
		justify-content: flex-end;
		opacity: 1;

		&--closed {
			pointer-events: none;
			opacity: 0;
		}
	}

	&__overlay {
		position: fixed;
		top: 76px;
		left: 0;
		z-index: 11;
	}

	&__window {
		position: relative;
		right: 0;
		z-index: 12;
		background: rgba(40, 40, 40);
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
		@include screen-x(800px) {
			width: 70%;
		}
		@include screen-x(600px) {
			width: 100%;
		}
	}

	&--closed {
		.menu__window {
			right: -100%;
		}
	}

	.app-links {
		padding-top: 20px;
		&__link {
			@include transition;
			color: $color-theme;
			text-shadow: 1px 1px 3px black;
			font-size: 13pt;
			padding: 10px;
			border-radius: 5px;	
			&:hover {
				color: white;
			}
		}
		&__item {
			padding: 20px;
			margin-left: 20px;
			@include screen-x(600px) {
				text-align: center;
			}
			&--active {
				.app-links__link {
					background: rgba(234, 172, 42, 0.2);
					box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
					font-weight: bold;
				}
			}
		}	
	}

	&__separator {
		width: calc(100% - 40px);
		height: 1px;
		box-shadow: 1px 1px 2px black;
		background: rgb(90, 90, 90);
		@include screen-y(450px) {
			display: none;
		}
	}

	&__about {
		text-shadow: 1px 1px 2px black;
		color: #656565;
		@include screen-y(600px) {
			display: none;
		}
	}

	.social {
		display: flex;
		justify-content: center;
		align-items: center;
		@include screen-y(600px) {
			padding-top: 20px;
		}
		@include screen-y(450px) {
			display: none;
		}
		&__link {
			margin-left: 15px;
			margin-right: 15px;
			font-size: 2.5em;
			&:hover {
				color: white;
			}
		}
	}
}