// Social in mobile menu
.menu .social {
	@include flex-row(center, center);

	@include screen-y(600px) {
		padding-top: 20px;
	}

	@include screen-y(450px) {
		display: none;
	}

	&__link {
		margin-left: 15px;
		margin-right: 15px;
		font-size: 2.5em;
		&:hover {
			color: white;
		}
	}
}

.cover-home .social {
	@include flex-row(center, initial);
	padding-top: 20px;
	padding-bottom: 20px;

	&__item {
		margin-left: 20px;
		margin-right: 20px;
	}

	&__link {
		font-size: 3em;
		color: white;
		&:hover {
			color: $color-theme;
		}
	}
}

.login .social {
	@include flex-row(center, initial);
	padding-top: 10px;

	&__item {
		margin-left: 20px;
		margin-right: 20px;
	}

	&__link {
		font-size: 2em;
		color: rgb(100, 100, 100);
		&:hover {
			color: $color-theme;
		}
	}
}
